@using SistemaVendas.Dtos;
@model ClienteDto

@{
    ViewData["Title"] = "Excluir Cliente";
}
<meta charset="utf-8" />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="text-center">
                <h1 class="display-4">Excluir Cliente</h1>                
            </div>
            
            <div class="text-left">
                <h3>Deseja realmente excluir o cliente: <b> @Html.DisplayFor(m => m.Nome)</b> ?</h3>
            </div>

            <form class="row g-3">
                <div class="col-6">
                    <a class="btn btn-primary" role="button" asp-controller="Cliente" asp-action="DeleteConfirm" asp-route-idCliente="@Model.Id">Confirmar</a>
                    <a class="btn btn-secondary" role="button" asp-controller="Cliente" asp-action="Index">Voltar</a>
                </div>
            </form>

        </div>
    </div>
</div>