@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<meta charset="utf-8" />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="text-center">
                <h3 class="display-3">Erro</h3>
            </div>
            <br />

            <div class="text-left">
                <h4 class="display-4 text-danger">An error occurred while processing your request.</h4>
                <p><b>Contate o Administrador do Sistema</b></p>
            </div>
            
        </div>
    </div>
</div>