@model VendedorModel

@{
    ViewData["Title"] = "Alterar Vendedor";
}
<meta charset="utf-8" />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="text-center">
                <h4 class="display-4">Alterar Vendedor</h4>
            </div>

            <form class="row g-3" asp-controller="Vendedor" asp-action="Put" method="Post">
                <input type="hidden" asp-for="Id" />

                <div class="col-12">
                    <label for="text" class="col-form-label">Nome</label>
                    <input type="text" class="form-control" asp-for="Nome"/>
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label for="text" class="col-form-label">@Html.DisplayNameFor(m => m.Email)</label>
                    <input type="text" class="form-control" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="col-6">
                    <label for="text" class="col-form-label">Senha</label>
                    <input type="password" class="form-control" asp-for="Senha" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>

                <div class="col-6">
                    <label for="text" class="col-form-label">Confirmar Senha</label>
                    <input type="password" class="form-control" asp-for="ComparaSenha" />
                    <span asp-validation-for="ComparaSenha" class="text-danger"></span>
                </div>
                <br />
                <br />
                <br />
                <br />

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Editar</button>
                    <a class="btn btn-secondary" role="button" asp-controller="Vendedor" asp-action="Index">Voltar</a>
                </div>

            </form>
        </div>
    </div>
</div>
